# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Visual Studio files
.vs/


# CMake files
out/
.debug.txt

# Ignore anything with a "local" prefix (since it's something that is not meant to run anywhere outside of my machine)
test_masks/
big_data/